.myFirstClass{
    background-color: chocolate;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
}

.mySecondClass{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
}