<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h2>Add Employee details</h2>
<form action="#" th:action="@{/saveEmployee}" th:object="${employee}">
	<label>Id</label>
	<input type="text" th:field="*{id}"/><br/>
	<label>Name</label>
	<input type="text" th:field="*{name}"/><br/>
	<label>Salary</label>
	<input type="text" th:field="*{salary}"/><br/>
	<input type="submit" value="submit"/>
	<input type="reset" value="reset"/>
</form>
</body>
</html>