<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<span th:text="${msg}"></span>
	<h2>Add Category</h2>
	<form action="#" th:action="@{/storeCategoryInfo}" th:object="${category}" method="post">
<label>CategoryName</label>
<input type="text" th:field="*{categoryname}"/><br/>
<input type="submit" value="Store Category"/>
</form>
<br/>
<a th:href="@{/adminHome}">Back</a>
</body>
</html>