<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h2>Welcome to Admin Home Page</h2>
<a th:href="@{/addCategoryPage}">Add Category</a> |
<a th:href="@{/viewCategoryPage}">View Category</a> |
<a th:href="@{/addProductPage}">Add Product</a> |
<a th:href="@{/}">Logout</a> |
</body>
</html>