<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h2>Add Product</h2>
<form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
	<label>PId</label>
	<input type="text" th:field="*{pid}"/><br/>
	<label>PName</label>
	<input type="text" th:field="*{pname}"/><br/>
	<label>Price</label>
	<input type="text" th:field="*{price}"/><br/>
	<label>Image URL</label>
	<input type="text" th:field="*{imageUrl}"/><br/>
	<input type="submit" value="submit"/>
	<input type="reset" value="reset"/>
</form>
<h2 th:text="${msg}"></h2>
<br/>
<hr/>

<table border="1">
	<tr>
		<th>PId</th>
		<th>PName</th>
		<th>Price</th>	
		<th>Image URL</th>
		<th>Date Details</th>
		<th>Delete Product</th>
		<th>Update Product</th>
	</tr>
	<tr th:each="product:${products}">
		<td th:text="${product.pid}"></td>
		<td th:text="${product.pname}"></td>
		<td th:text="${product.price}"></td>
		<td><img th:src="${product.imageUrl}" width="50px" height="50px"/></td>
		<td th:text="${product.dateInfo}"></td>
		<td><a th:href="@{/deleteProduct/{pid} (pid=${product.pid}) }">Delete Product</a></td>
		<td><a th:href="@{/openUpdateForm/{pid} (pid=${product.pid}) }">Update Product</a></td>
	</tr>
</table>
</body>
</html>