<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h2>Update Product</h2>
<form action="#" th:action="@{/updateProduct}" th:object="${product}" method="post">
	<label>PId</label>
	<input type="text" th:field="*{pid}" readonly="readonly"/><br/>
	<label>PName</label>
	<input type="text" th:field="*{pname}"/><br/>
	<label>Price</label>
	<input type="text" th:field="*{price}"/><br/>
	<input type="submit" value="update product"/>
	<input type="reset" value="reset"/>
</form>



</body>
</html>